<% if current_user %>
  <%= form_for [@project, @comment] do |f| %>
    <h2>Post a comment:</h2>
    <div>
      <p><%= f.label :comment, "Post a comment" %></p>
      <p><%= f.text_area :body_text %></p>
    </div>
    <%= f.submit 'Post Comment!' %>
  <% end  %>
<% end %>
