<h1>Projects</h1>
  <%= link_to 'New Project', new_project_path %>
  <div class="project-list">
    <%= render @projects %>
  </div>
  <% if @projects.any? %>
   
  <% else %>
   <h2>No projects yet</h2>
  <% end %>
